@{
    
}

<!DOCTYPE html>

<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Título de mi sitio</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        @{
                var db = Database.Open("OracleConnectionString");
                var rec = db.Query("SELECT NUM_POLIZA, RUT_BENEFICIARIO, NUM_SINIESTRO FROM BENEF_FACTA");
        }
        <table>
                @foreach (var row in rec)
                {
                    <tr>
                        <td>@row.NUM_POLIZA</td>
                        <td>@row.RUT_BENEFICIARIO</td>
                        <td>@row.NUM_SINIESTRO</td>
                    </tr>
                }
            </table>
    </body>
</html>