<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <connectionStrings>
        <add name="OracleConnectionString" connectionString="user id=CDREVES;password=cdreves;data source=cdreves:1521/XE;" providerName="System.Data.OracleClient" />
    </connectionStrings>


    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>